* {
  box-sizing: border-box;
}

#app {
  width: 100%;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  display: flex;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

/* ::placeholder {
  padding-left: 4px;
} */

a {
  text-decoration: none !important;
}
